bonus/Bonus_UptimeMonitor_LalitKumar.json
{
  "name": "Uptime Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "361a3c3f-eebb-4100-a05a-ecea25dfe612",
      "name": "Monitor Schedule"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/fdkjfdk",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "5dd6573c-c3ec-4187-b395-49d10a273ef9",
      "name": "Ping Website Endpoint",
      "retryOnFail": true,
      "notesInFlow": false,
      "waitBetweenTries": 2000,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5c3b728-fe7e-4973-8454-c5b43141e882",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        0
      ],
      "id": "605c696b-dbf8-4646-bcb8-b493b24a9977",
      "name": "Check Website Health"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ",
          "mode": "list",
          "cachedResultName": "assignment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2027426721,
          "mode": "list",
          "cachedResultName": "Uptime Alerts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit#gid=2027426721"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website": "https://jsonplaceholder.typicode.com/posts/1",
            "Status Code": "={{ $('Ping Website Endpoint').item.json.statusCode }}",
            "Status": "DOWN",
            "Alert Message": "=Site is DOWN! Status: {{ $('Ping Website Endpoint').item.json.statusCode }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Code",
              "displayName": "Status Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alert Message",
              "displayName": "Alert Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        -128
      ],
      "id": "c39bd446-b14f-489b-99df-cd2bcb05db50",
      "name": "Log Downtime Alert",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5CT4Rk8gvlz6iT5h",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        160
      ],
      "id": "ca357440-6fae-4e97-baf1-ee2a009d272f",
      "name": "Website Healthy"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1008,
        16
      ],
      "id": "b4f171b6-4034-4145-925f-06d2b12f7ee9",
      "name": "Workflow Failure Handler"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ",
          "mode": "list",
          "cachedResultName": "assignment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2027426721,
          "mode": "list",
          "cachedResultName": "Uptime Alerts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit#gid=2027426721"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website": "=ERROR",
            "Alert Message": "={{ $json.execution.error.message }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status Code",
              "displayName": "Status Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Alert Message",
              "displayName": "Alert Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        16
      ],
      "id": "29e0a3be-1a72-4cec-b689-00fb6df36a14",
      "name": "Log Workflow Errors",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5CT4Rk8gvlz6iT5h",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Monitor Schedule": {
      "main": [
        [
          {
            "node": "Ping Website Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Website Endpoint": {
      "main": [
        [
          {
            "node": "Check Website Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Health": {
      "main": [
        [
          {
            "node": "Log Downtime Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Website Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Failure Handler": {
      "main": [
        [
          {
            "node": "Log Workflow Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8477e795-39c8-42a3-b81e-97fabceb20a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7beca7c6f5c25c806c5caa5562ca755f1bfb73d8a94d8082b8ffe039cfa4a64d"
  },
  "id": "Oj8v2xF18C5FSGXW",
  "tags": []
}