task2/Task2_Workflow_LalitKumar.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f7ad7682-149f-4d3b-9367-1d010cccba1d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1280,
        16
      ],
      "id": "78f4278d-f51c-4da5-b400-9937da9dc0e4",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ",
          "mode": "list",
          "cachedResultName": "assignment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 148507933,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit#gid=148507933"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Error Message": "={{ $json.message }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        16
      ],
      "id": "bedc691c-cdf8-440d-ad5b-e54bf7c998ac",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5CT4Rk8gvlz6iT5h",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories?q=topic:ai&sort=stars&order=desc&per_page=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "868f3e96-833f-46e2-8f1e-2bb4bede03bf",
      "name": "Fetch Trending Repositories",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "Aih1Fvguoa1B5vZE",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "Ca5luKdnHndpPfKz",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.items;\nreturn items.slice(0, 5).map(repo => ({\n  json: {\n    name: repo.full_name,\n    stars: repo.stargazers_count,\n    language: repo.language || \"Unknown\",\n    description: repo.description || \"No description\",\n    readme_url: `https://api.github.com/repos/${repo.full_name}/readme`,\n    timestamp: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "a64bcbb8-63a7-4b73-8c36-31c226ed1a6a",
      "name": "Transform Repository Data"
    },
    {
      "parameters": {
        "url": "={{ $json.readme_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "580877d9-5167-4087-ae0f-1f7260fa1025",
      "name": "Fetch Repository Details",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ca5luKdnHndpPfKz",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "Aih1Fvguoa1B5vZE",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0504c89c-263c-437d-a11c-6c4bf197c06e",
              "leftValue": "={{ $('Transform Repository Data').item.json.stars }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "6992d08a-178f-4802-8eea-4c27bcd70911",
      "name": "Check Hot Repository"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ",
          "mode": "list",
          "cachedResultName": "assignment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Repo Name": "={{ $('Transform Repository Data').item.json.name }}",
            "Stars": "={{ $('Transform Repository Data').item.json.stars }}",
            "Language": "={{ $('Transform Repository Data').item.json.language }}",
            "Description": "={{ $('Transform Repository Data').item.json.description }}",
            "Tier": "Hot",
            "Timestamp": "={{ $('Transform Repository Data').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Repo Name",
              "displayName": "Repo Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stars",
              "displayName": "Stars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -96
      ],
      "id": "af8b39b9-f50f-4df9-bdd8-68e909401aad",
      "name": "Save Hot Repositories",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5CT4Rk8gvlz6iT5h",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ",
          "mode": "list",
          "cachedResultName": "assignment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NgBD9bWA5g581zRbxjbM8gXMiylPU1CEnMb9efJCMvQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Repo Name": "={{ $('Transform Repository Data').item.json.name }}",
            "Stars": "={{ $('Transform Repository Data').item.json.stars }}",
            "Language": "={{ $('Transform Repository Data').item.json.language }}",
            "Description": "={{ $('Transform Repository Data').item.json.description }}",
            "Tier": "Warm",
            "Timestamp": "={{ $('Transform Repository Data').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Repo Name",
              "displayName": "Repo Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stars",
              "displayName": "Stars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        160
      ],
      "id": "f6d0257c-e5c2-4501-ac04-3461214471db",
      "name": "Save Normal Repositories",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5CT4Rk8gvlz6iT5h",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Trending Repositories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trending Repositories": {
      "main": [
        [
          {
            "node": "Transform Repository Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Repository Data": {
      "main": [
        [
          {
            "node": "Fetch Repository Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Repository Details": {
      "main": [
        [
          {
            "node": "Check Hot Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Hot Repository": {
      "main": [
        [
          {
            "node": "Save Hot Repositories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Normal Repositories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dc8e73ca-7531-4ba9-ace3-8bd57702eb42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7beca7c6f5c25c806c5caa5562ca755f1bfb73d8a94d8082b8ffe039cfa4a64d"
  },
  "id": "U9MwYc1JAYipPijG",
  "tags": []
}